* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    width: 390px;
    justify-content: space-between;
}

li {
    list-style: none;
}

nav {
    background-color: #081c15;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    width: 100vw;
}

i {
    padding: 10px;
}

@media screen and (max-width: 620px) {
    nav,
    ul {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
}

#main-img {
    background-image: url(./image1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    animation: fade 30s ease-in-out infinite alternate-reverse forwards;
}

@keyframes fade {
    0% {
        background-image: url(./p1.jpeg);
    }
    20% {
        background-image: url(./p2.jpeg);
    }
    40% {
        background-image: url(./p3.jpeg);
    }
    60% {
        background-image: url(./p4.jpeg);
    }
    80% {
        background-image: url(./p5.jpeg);
    }
    100% {
        background-image: url(./image1.jpeg);
    }
}

.container {
    width: 95vw;
    height: auto;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-columns: minmax(250px, auto);
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
}

.containers div {
    position: relative;
    height: auto;
}

div figure {
    height: auto;
    margin-bottom: 30px;
    transition: 10s;
    cursor: pointer;
}

.container div:hover {
    transform: scale(1.06);
}

figure img:hover {
    filter: grayscale(100%);
    opacity: 0.65;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}

figcaption h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: text;
}

figcaption p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: text;
}

figcaption button {
    margin-top: 15px;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #081c15;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.footers {
    height: 50px;
    position: relative;
    width: 100vw;
    background-color: #081c15;
    color: white;
    bottom: 0%;
}

.footers h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}